.dot {
  background: red;
  inline-size: 4rem;
  block-size: 2.5rem;
}

.parent {
  background: black;
}

.parent,
:root,
body {
  height: 100%;
}

.flash {
  background: white;
  display: none;
  width: 100%;
  height: 100%;
}

.parent {
  display: grid;
  place-items: center;
}

.flashButton {
  --lineWidth: 5px;
  --lineColor: white;

  all: unset;
  width: 100%;
  height: 100%;
  cursor: pointer;
  background: red;
  position: relative;
}

.live::after {
  content: '';
  display: block;
  position: absolute;
  width: var(--lineWidth);
  background: var(--lineColor);
  height: 100%;
  top: 0;
  left: calc(var(--lineWidth) * -1);

  animation: linear infinite alternate;
  animation-name: left-right;
  animation-duration: 5s;
}

@keyframes left-right {
  0% {
    left: 0;
  }

  50% {
    left: calc(100% - var(--lineWidth));
  }

  100% {
    left: 0;
  }
}

.message p {
  color: white;
  text-align: center;
  font-size: 3rem;
  font-family: system-ui, serif;
  text-transform: uppercase;
  font-weight: bold;
}
.message p + p {
  margin-block-start: 10rem;
}
